graphics/AtlantisJava/events/event.dtd

<!-- -kine element is alias to barcode resp. to new-style truth association
        using barcodes + numBarcodes (1 hits - to more tracks) at hits
        (2006/08), kine should be removed completely on turn 2006/2007
-->     

<!ENTITY % string.Type "CDATA">

<!ENTITY % eventAttributes
    "version     %string.Type; #IMPLIED
     runNumber   %string.Type; #IMPLIED
     eventNumber %string.Type; #IMPLIED
     dateTime    %string.Type; #IMPLIED
     lumiBlock   %string.Type; #IMPLIED
     eventProperties %string.Type; #IMPLIED">


<!ELEMENT Event
    (BJet|CaloETMis|Cluster|CompositeParticle|CSC|CSCD|Electron|EmTauROI|
     ETMis|FCAL|HEC|IDScan|iPat|Jet|JetROI|LAr|LVL1JetElement|LVL1Result|
     LVL1TriggerTower|MBTS|MDT|MSeg|Muon|MuonETMis|MuonROI|ParticleJet|
     Photon|PixelRDO|RMTr|RPC|RTr|RVx|S3D|SCTRDO|Segment|SiHit|SMTr|STC|STr|
     TauJet|TGC|TILE|Track|TrigS3D|TriggerInfo|TRT|xKal)+>
<!ATTLIST Event %eventAttributes;>

<!ENTITY % attributes 'count CDATA "" storeGateKey CDATA ""'>

<!ENTITY % type 'type (FLOAT|INT|STRING) #FIXED'>
<!ENTITY % unit 'unit (NONE | CM | RAD | GEV)'>
<!ENTITY % integer
         ' %type; "INT"
           multiple CDATA "1"
           %unit; "NONE" '>
<!ENTITY % float
         ' %type; "FLOAT"
           multiple CDATA "1"
           %unit; "NONE" '>
<!ENTITY % string
         ' %type; "STRING"
           multiple CDATA "1"
           %unit; "NONE" '>

<!ELEMENT BJet	        (charge|clusterIndex|clusterKey|clusterLinkCount|energy|
                         eta|label|lhSig|mass|phi|pt|secVtxCount|secVtxFitProb|secVtxMass|
                         secVtxMult|secVtxRPhiDist|secVtxTagLh|secVtxTagLhErr|
                         trackIndex|trackKey|trackLinkCount|weight)+>
<!ATTLIST BJet			%attributes;>

<!ELEMENT CaloETMis     (et|etx|ety)+>
<!ATTLIST CaloETMis     %attributes;>

<!ELEMENT Cluster       (cells|energy|emfrac|et|eta|id|numCells|phi)+>
<!ATTLIST Cluster       %attributes;>

<!ELEMENT CompositeParticle     (author|charge|dataType|daughterIndex|daughterKey|
                                 daughterPdgId|eta|label|pdgId|phi|pt|typeEV)+>
<!ATTLIST CompositeParticle     %attributes;>

<!ELEMENT CSC           (barcode|hitsFull|id|identifier|kine|length|numHits|sigma|
                         x|y|z)+>
<!ATTLIST CSC           %attributes;>

<!ELEMENT CSCD          (barcode|charge|id|identifier|kine|length|x|y|z)+>
<!ATTLIST CSCD          %attributes;>

<!ELEMENT Electron      (author|clusterIndex|clusterKey|clusterLinkCount|dataType|
                         emWeight|eOverp|et37|eta|etCone|etCone20|etHad1|f1|fracs1|
                         hasTrack|hitsBLayer|hitsHighThresTRT|hitsPixel|hitsSCT|
                         hitsTRT|isEM|isEMString|pdgId|phi|pionWeight|pt|trackIndex|trackKey|
                         trackLinkCount)+>
<!ATTLIST Electron      %attributes;>

<!ELEMENT EmTauROI      (energy|energyEM|energyTAU|eta|phi|roiWord|thrPattern)+>
<!ATTLIST EmTauROI      %attributes;>

<!ELEMENT ETMis         (et|etx|ety)+>
<!ATTLIST ETMis         %attributes;>

<!ELEMENT FCAL          (adc2Mev|adcCounts|cluster|dx|dy|energy|id|layer|sub|
                         x|y|channel|feedThrough|slot)+>
<!ATTLIST FCAL          %attributes;>

<!ELEMENT HEC           (adc2Mev|adcCounts|energy|eta|id|layer|phi|sub|
                         cluster|channel|feedThrough|slot)+>
<!ATTLIST HEC           %attributes;>

<!ELEMENT IDScan        (barcode|chi2|cotTheta|covMatrix|d0|hits|id|numHits|
                         phi0|pt|z0)+>
<!ATTLIST IDScan        %attributes;>

<!ELEMENT InDetSegment  (hits|numHits|phi|theta|x|y|z)+>
<!ATTLIST InDetSegment  %attributes;>

<!ELEMENT iPat          (barcode|chi2|cotTheta|covMatrix|d0|hits|
                         id|kine|numHits|numPolyline|phi0|polylineX|polylineY|
                         polylineZ|pt|z0)+>
<!ATTLIST iPat          %attributes;>

<!-- cluster should be an array of calo Cluster IDs, but it's not provided in
     the event files nor any processing exists in the Jet handling code -->
<!ELEMENT Jet           (OutOfTimeEfrac|bTagName|bTagValue|cells|cluster|clusterIndex|clusterKey|clusterLinkCount|
                         emfrac|et|eta|fcorCell|fcorDotx|fcorJet|fcorJetForCell|fracSamplingMax|hecf|
			 isBad|isGood|isUgly|n90cells|n90const|nbadcells|id|jvf|numCells|phi|pt|
			 quality|qualityLAr|qualityTile|sMax|tileGap3f|time|timeClusters|trackIndex|trackKey|
                         trackLinkCount|mass|px|py|pz)+>
<!ATTLIST Jet           %attributes;>

<!ELEMENT JetROI        (energy|eta|phi)+>
<!ATTLIST JetROI        %attributes;>

<!ELEMENT LAr           (adc2Mev|adcCounts|BadCell|cellGain|cellPedestal|cellTime|cluster|
                         energy|eta|id|layer|phi|sub|channel|feedThrough|slot)+>
<!ATTLIST LAr           %attributes;>

<!ELEMENT LVL1JetElement    (energy|eta|phi)+>
<!ATTLIST LVL1JetElement    %attributes;>

<!ELEMENT LVL1Result    (ctpItemList|ctpWord0|ctpWord1|ctpWord2|
                         energyEtMiss|energyEx|energyEy|energySumEt|
                         itemListEF|itemListL2|passedEF|passedL1|passedL2|
                         passedTrigger|prescaleListEF|prescaleListL1|prescaleListL2)+>
<!ATTLIST LVL1Result    %attributes;>

<!ELEMENT LVL1TriggerTower  (emADC|emBCID|emEnergy|eta|hadADC|hadBCID|hadEnergy|
                             isEMSaturated|isHadSaturated|numADC|phi|sumEnergy)+>
<!ATTLIST LVL1TriggerTower  %attributes;>

<!ELEMENT MBTS          (channel|energy|eta|label|module|phi|quality|sampling|time|type|
                         adcCounts|cellPedestal|cellRawAmplitude|cellRawTime)+>
<!ATTLIST MBTS          %attributes;>

<!ELEMENT MDT           (barcode|driftR|id|identifier|kine|length|x|y|z)+>
<!ATTLIST MDT           %attributes;>

<!ELEMENT MSeg          (cotTheta|hits|numHits|phi0|x|y|z)+>
<!ATTLIST MSeg          %attributes;>

<!ELEMENT Muon          (author|chi2|dataType|eta|etConeIsol|pdgId|phi|pt|
                         trackIndex|trackKey|trackLinkCount)+>
<!ATTLIST Muon          %attributes;>

<!ELEMENT MuonETMis     (et|etx|ety)+>
<!ATTLIST MuonETMis     %attributes;>

<!ELEMENT MuonROI       (energy|eta|phi|roiWord|thrName|thrNumber|thrValue)+>
<!ATTLIST MuonROI       %attributes;>

<!ELEMENT MuonSegment   (hits|numHits|phi|theta|x|y|z)+>
<!ATTLIST MuonSegment   %attributes;>

<!ELEMENT ParticleJet   (cells|cluster|et|eta|id|numCells|phi|pt)+>
<!ATTLIST ParticleJet   %attributes;>

<!ELEMENT PixCluster	(barcode|barcodes|eloss|etaModule|id|numBarcodes|
                         phiModule|widthx|widthy|x0|y0|z0)+>
<!ATTLIST PixCluster    %attributes;>

<!ELEMENT Photon        (clusterIndex|clusterKey|clusterLinkCount|emWeight|et37|
                         eta|etCone|etHad1|f1|fracs1|isEM|isEMString|phi|pionWeight|pt)+>
<!ATTLIST Photon        %attributes;>

<!-- PixelRDO - object derived from S3D -->
<!ELEMENT PixelRDO      (etaModule|id|phiModule|x|y|z)+>
<!ATTLIST PixelRDO      %attributes;>

<!ELEMENT RMTr          (barcode|cotTheta|hits|hitsFull|id|kine|numHits|
                         numPolyline|phi0|polylineX|polylineY|polylineZ|pt|
                         x|y|z)+>
<!ATTLIST RMTr          %attributes;>

<!ELEMENT RPC           (barcode|id|identifier|kine|length|width|x|y|z)+>
<!ATTLIST RPC           %attributes;>

<!ELEMENT RTr           (barcode|chi2|cotTheta|covMatrix|d0|kine|phi0|pt|z0)+>
<!ATTLIST RTr           %attributes;>

<!ELEMENT RVx           (chi2|covMatrix|numTracks|vertexType|primVxCand|
                         sgkey|tracks|x|y|z)+>
<!ATTLIST RVx           %attributes;>

<!ELEMENT S3D           (barcode|barcodes|clusters|etaModule|kine|numBarcodes|phi|
                         phiModule|rho|x|y|z)+>
<!ATTLIST S3D           %attributes;>

<!-- SCTRDO - object derived from STC (SiCluster) -->
<!ELEMENT SCTRDO        (BCIDError|etaModule|firstHitError|formatterError|id|
                         lvl1Error|phiModule|preambleError|secondHitError|
                         syncError|timeBin|x0|x1|y0|y1|z0|z1)+>
<!ATTLIST SCTRDO        %attributes;>

<!ELEMENT Segment       (hits|numHits|phi|theta|x|y|z)+>
<!ATTLIST Segment       %attributes;>

<!ELEMENT SiHit         (energyloss|trackid|x|y|z)+>
<!ATTLIST SiHit         %attributes;>

<!ELEMENT SMTr          (barcode|cotTheta|id|kine|phi0|pt|x|y|z)+>
<!ATTLIST SMTr          %attributes;>

<!ELEMENT STC           (barcode|barcodes|etaModule|id|kine|numBarcodes|
                         phiModule|widthside|x0|x1|y0|y1|z0|z1)+>
<!ATTLIST STC           %attributes;>

<!ELEMENT STr           (barcode|code|eta|id|phi|phiEndVertex|phiVertex|pt|
                         rhoEndVertex|rhoVertex|zVertex|zEndVertex)+>
<!ATTLIST STr           %attributes;>

<!ELEMENT TauJet        (author|charge|clusterIndex|clusterKey|clusterLinkCount|
                         emRadius|eta|etEMCalib|etHadCalib|isolFrac|isTau|isTauString|
                         logLhRatio|numTracks|phi|pt|stripWidth|trackIndex|
                         trackKey|trackLinkCount)+>
<!ATTLIST TauJet        %attributes;>

<!ELEMENT TGC           (barcode|id|identifier|kine|length|lwidth|swidth|
                         x|y|z)+>
<!ATTLIST TGC           %attributes;>

<!ELEMENT TILE          (adcCounts1|adcCounts2|BadCell|cluster|energy|eta|id|layer|phi|
                         pmt1Chi2|pmt1Energy|pmt1Gain|pmt1Number|pmt1Pedestal|
                         pmt1Time|pmt2Chi2|pmt2Energy|pmt2Gain|pmt2Number|
                         pmt2Pedestal|pmt2Time|sub|pmt1ADCStatus|pmt2ADCStatus|
                         pmt1RawTime|pmt2RawTime|pmt1RawAmplitude|pmt2RawAmplitude)+>
<!ATTLIST TILE          %attributes;>

<!ELEMENT Track         (author|barcode|chi2|cotTheta|covMatrix|d0|driftSign|hits|id|
                         isOutlier|kine|numHits|numPolyline|numTsos|phi0|polylineX|
                         polylineY|polylineZ|pt|tsosDetType|tsosPosR|tsosPullLoc1|
                         tsosPullLoc2|tsosResLoc1|tsosResLoc2|trackAuthor|z0|numDoF|
                         nBLayerHits|nPixHits|nSCTHits|nTRTHits)+>
<!ATTLIST Track         %attributes;>

<!ELEMENT TrigS3D       (barcodes|cluster|dphi|dr|dz|eta|id|layer|numBarcodes|phi|
                         r|x|y|z)+>
<!ATTLIST TrigS3D       %attributes;>

<!ELEMENT TriggerInfo   (energyEtMiss|energyEx|energyEy|energySumEt|
                        trigInfoEF|trigInfoExtL1ID|trigInfoL1|trigInfoL2|
                        trigInfoLvl1Type|trigInfoStatus|trigInfoStreamTag)+>
<!ATTLIST TriggerInfo   %attributes;>

<!ELEMENT TRT           (barcode|barcodes|driftR|id|kine|numBarcodes|phi|rhoz|sub|
                         threshold|noise|bitPattern|timeOverThreshold)+>
<!ATTLIST TRT           %attributes;>

<!ELEMENT xKal          (barcode|chi2|cotTheta|covMatrix|d0|hits|
                         id|numHits|numPolyline|phi0|polylineX|polylineY|
                         polylineZ|pt|z0)+>
<!ATTLIST xKal          %attributes;>

<!ELEMENT OutOfTimeEfrac    (#PCDATA)> <!ATTLIST OutOfTimeEfrac     %float;>
<!ELEMENT adc2Mev           (#PCDATA)> <!ATTLIST adc2Mev            %float;>
<!ELEMENT adcCounts         (#PCDATA)> <!ATTLIST adcCounts          %integer;>
<!ELEMENT adcCounts1        (#PCDATA)> <!ATTLIST adcCounts1         %integer;>
<!ELEMENT adcCounts2        (#PCDATA)> <!ATTLIST adcCounts2         %integer;>
<!ELEMENT author            (#PCDATA)> <!ATTLIST author             %string;>
<!ELEMENT BadCell			(#PCDATA)> <!ATTLIST BadCell			%integer;>
<!ELEMENT barcode           (#PCDATA)> <!ATTLIST barcode            %integer;>
<!ELEMENT barcodes          (#PCDATA)> <!ATTLIST barcodes           %integer;>
<!ELEMENT bitPattern        (#PCDATA)> <!ATTLIST bitPattern         %integer;>
<!ELEMENT BCIDError         (#PCDATA)> <!ATTLIST BCIDError          %integer;>
<!ELEMENT bTagName          (#PCDATA)> <!ATTLIST bTagName           %string;>
<!ELEMENT bTagValue         (#PCDATA)> <!ATTLIST bTagValue          %float;>
<!ELEMENT cellTime          (#PCDATA)> <!ATTLIST cellTime           %float;>
<!ELEMENT cellGain          (#PCDATA)> <!ATTLIST cellGain           %integer;>
<!ELEMENT cellPedestal      (#PCDATA)> <!ATTLIST cellPedestal       %float;>
<!ELEMENT cells             (#PCDATA)> <!ATTLIST cells              %integer;>
<!ELEMENT channel           (#PCDATA)> <!ATTLIST channel            %integer;>
<!ELEMENT feedThrough       (#PCDATA)> <!ATTLIST feedThrough        %integer;>
<!ELEMENT slot              (#PCDATA)> <!ATTLIST slot            %integer;>
<!ELEMENT charge            (#PCDATA)> <!ATTLIST charge             %float;>
<!ELEMENT chi2              (#PCDATA)> <!ATTLIST chi2               %float;>
<!ELEMENT cluster           (#PCDATA)> <!ATTLIST cluster            %integer;>
<!ELEMENT clusters          (#PCDATA)> <!ATTLIST clusters           %integer;>
<!ELEMENT clusterIndex      (#PCDATA)> <!ATTLIST clusterIndex       %integer;>
<!ELEMENT clusterKey        (#PCDATA)> <!ATTLIST clusterKey         %string;>
<!ELEMENT clusterLinkCount  (#PCDATA)> <!ATTLIST clusterKey         %integer;>
<!ELEMENT code              (#PCDATA)> <!ATTLIST code               %integer;>
<!ELEMENT cotTheta          (#PCDATA)> <!ATTLIST cotTheta           %float;>
<!ELEMENT covMatrix         (#PCDATA)> <!ATTLIST covMatrix          %float;>
<!ELEMENT ctpItemList       (#PCDATA)> <!ATTLIST ctpItemList        %string;>
<!ELEMENT ctpWord0          (#PCDATA)> <!ATTLIST ctpWord0           %integer;>
<!ELEMENT ctpWord1          (#PCDATA)> <!ATTLIST ctpWord1           %integer;>
<!ELEMENT ctpWord2          (#PCDATA)> <!ATTLIST ctpWord2           %integer;>
<!ELEMENT d0                (#PCDATA)> <!ATTLIST d0                 %float;>
<!ELEMENT dataType          (#PCDATA)> <!ATTLIST dataType           %integer;>
<!ELEMENT daughterIndex     (#PCDATA)> <!ATTLIST daughterIndex      %integer;>
<!ELEMENT daughterKey       (#PCDATA)> <!ATTLIST daughterKey        %string;>
<!ELEMENT daughterPdgId     (#PCDATA)> <!ATTLIST daughterPdgId      %integer;>
<!ELEMENT deta              (#PCDATA)> <!ATTLIST deta               %float;>
<!ELEMENT dphi              (#PCDATA)> <!ATTLIST dphi               %float;>
<!ELEMENT dr                (#PCDATA)> <!ATTLIST dr                 %float;>
<!ELEMENT driftR            (#PCDATA)> <!ATTLIST driftR             %float;>
<!ELEMENT driftSign         (#PCDATA)> <!ATTLIST driftSign          %integer;>
<!ELEMENT dx                (#PCDATA)> <!ATTLIST dx                 %float;>
<!ELEMENT dy                (#PCDATA)> <!ATTLIST dy                 %float;>
<!ELEMENT dz                (#PCDATA)> <!ATTLIST dz                 %float;>
<!ELEMENT eloss		    (#PCDATA)> <!ATTLIST eloss              %float;>
<!ELEMENT emfrac            (#PCDATA)> <!ATTLIST emfrac             %float;>
<!ELEMENT emADC             (#PCDATA)> <!ATTLIST emADC              %integer;>
<!ELEMENT emBCID            (#PCDATA)> <!ATTLIST emBCID             %integer;>
<!ELEMENT emEnergy          (#PCDATA)> <!ATTLIST emEnergy           %float;>
<!ELEMENT emRadius          (#PCDATA)> <!ATTLIST emRadius           %float;>
<!ELEMENT emWeight          (#PCDATA)> <!ATTLIST emWeight           %float;>
<!ELEMENT energy            (#PCDATA)> <!ATTLIST energy             %float;>
<!ELEMENT energyEM          (#PCDATA)> <!ATTLIST energyEM           %float;>
<!ELEMENT energyTAU         (#PCDATA)> <!ATTLIST energyTAU          %float;>
<!ELEMENT energyEtMiss      (#PCDATA)> <!ATTLIST energyEtMiss       %float;>
<!ELEMENT energyEx          (#PCDATA)> <!ATTLIST energyEx           %float;>
<!ELEMENT energyEy          (#PCDATA)> <!ATTLIST energyEy           %float;>
<!ELEMENT energyloss        (#PCDATA)> <!ATTLIST energyloss         %float;>
<!ELEMENT energySumEt       (#PCDATA)> <!ATTLIST energySumEt        %float;>
<!ELEMENT eOverp            (#PCDATA)> <!ATTLIST eOverp             %float;>
<!ELEMENT et                (#PCDATA)> <!ATTLIST et                 %float;>
<!ELEMENT et37              (#PCDATA)> <!ATTLIST et37               %float;>
<!ELEMENT eta               (#PCDATA)> <!ATTLIST eta                %float;>
<!ELEMENT etaModule         (#PCDATA)> <!ATTLIST etaModule          %integer;>
<!ELEMENT etCone            (#PCDATA)> <!ATTLIST etCone             %float;>
<!ELEMENT etCone20          (#PCDATA)> <!ATTLIST etCone20           %float;>
<!ELEMENT etEMCalib         (#PCDATA)> <!ATTLIST etEMCalib          %float;>
<!ELEMENT etHad1            (#PCDATA)> <!ATTLIST etHad1             %float;>
<!ELEMENT etHadCalib        (#PCDATA)> <!ATTLIST etHadCalib         %float;>
<!ELEMENT etx               (#PCDATA)> <!ATTLIST etx                %float;>
<!ELEMENT ety               (#PCDATA)> <!ATTLIST ety                %float;>
<!ELEMENT etConeIsol        (#PCDATA)> <!ATTLIST etConeIsol         %float;>
<!ELEMENT f1                (#PCDATA)> <!ATTLIST f1                 %float;>
<!ELEMENT firstHitError     (#PCDATA)> <!ATTLIST firstHitError      %integer;>
<!ELEMENT fcorCell          (#PCDATA)> <!ATTLIST fcorCell           %float;>
<!ELEMENT fcorDotx          (#PCDATA)> <!ATTLIST fcorDotx           %float;>
<!ELEMENT fcorJet           (#PCDATA)> <!ATTLIST fcorJet            %float;>
<!ELEMENT fcorJetForCell    (#PCDATA)> <!ATTLIST fcorJetForCell     %float;>
<!ELEMENT formatterError    (#PCDATA)> <!ATTLIST formatterError     %integer;>
<!ELEMENT fracs1            (#PCDATA)> <!ATTLIST fracs1             %float;>
<!ELEMENT fracSamplingMax   (#PCDATA)> <!ATTLIST fracSamplingMax    %float;>
<!ELEMENT hadADC            (#PCDATA)> <!ATTLIST hadADC             %integer;>
<!ELEMENT hadBCID           (#PCDATA)> <!ATTLIST hadBCID            %integer;>
<!ELEMENT hadEnergy         (#PCDATA)> <!ATTLIST hadEnergy          %float;>
<!ELEMENT hasTrack          (#PCDATA)> <!ATTLIST hasTrack           %integer;>
<!ELEMENT hecf              (#PCDATA)> <!ATTLIST hecf               %float;>
<!ELEMENT hits              (#PCDATA)> <!ATTLIST hits               %integer;>
<!ELEMENT hitsBLayer        (#PCDATA)> <!ATTLIST hitsBLayer         %integer;>
<!ELEMENT hitsFull          (#PCDATA)> <!ATTLIST hitsFull           %string;>
<!ELEMENT hitsHighThresTRT  (#PCDATA)> <!ATTLIST hitsHighThresTRT   %integer;>
<!ELEMENT hitsPixel         (#PCDATA)> <!ATTLIST hitsPixel          %integer;>
<!ELEMENT hitsSCT           (#PCDATA)> <!ATTLIST hitsSCT            %integer;>
<!ELEMENT hitsTRT           (#PCDATA)> <!ATTLIST hitsTRT            %integer;>
<!ELEMENT id                (#PCDATA)> <!ATTLIST id                 %integer;>
<!ELEMENT identifier        (#PCDATA)> <!ATTLIST identifier         %string;>
<!ELEMENT isBad             (#PCDATA)> <!ATTLIST isBad              %float;>
<!ELEMENT isEM              (#PCDATA)> <!ATTLIST isEM               %integer;>
<!ELEMENT isEMString        (#PCDATA)> <!ATTLIST isEMString         %string;>
<!ELEMENT isEMSaturated     (#PCDATA)> <!ATTLIST isEMSaturated      %integer;>
<!ELEMENT isGood            (#PCDATA)> <!ATTLIST isGood             %float;>
<!ELEMENT isHadSaturated    (#PCDATA)> <!ATTLIST isHadSaturated     %integer;>
<!ELEMENT isTau             (#PCDATA)> <!ATTLIST isTau              %integer;>
<!ELEMENT isTauString       (#PCDATA)> <!ATTLIST isTauString        %string;>
<!ELEMENT isUgly            (#PCDATA)> <!ATTLIST isUgly             %float;>
<!ELEMENT isolated          (#PCDATA)> <!ATTLIST isolated           %integer;>
<!ELEMENT isolFrac          (#PCDATA)> <!ATTLIST isolFrac           %float;>
<!ELEMENT isOutlier         (#PCDATA)> <!ATTLIST isOutlier          %integer;>
<!ELEMENT itemListEF        (#PCDATA)> <!ATTLIST itemListEF         %string;>
<!ELEMENT itemListL2        (#PCDATA)> <!ATTLIST itemListL2         %string;>
<!ELEMENT jvf               (#PCDATA)> <!ATTLIST jvf                %float;>
<!ELEMENT kine              (#PCDATA)> <!ATTLIST kine               %integer;>
<!ELEMENT label             (#PCDATA)> <!ATTLIST label              %string;>
<!ELEMENT layer             (#PCDATA)> <!ATTLIST layer              %integer;>
<!ELEMENT length            (#PCDATA)> <!ATTLIST length             %float;>
<!ELEMENT lhSig             (#PCDATA)> <!ATTLIST lhSig              %float;>
<!ELEMENT logLhRatio        (#PCDATA)> <!ATTLIST logLhRatio         %float;>
<!ELEMENT lvl1Error         (#PCDATA)> <!ATTLIST lvl1Error          %integer;>
<!ELEMENT lwidth            (#PCDATA)> <!ATTLIST lwidth             %float; >
<!ELEMENT mass              (#PCDATA)> <!ATTLIST mass               %float;>
<!ELEMENT module            (#PCDATA)> <!ATTLIST module             %integer;>
<!ELEMENT nbadcells         (#PCDATA)> <!ATTLIST nbadcells          %integer;>
<!ELEMENT noise             (#PCDATA)> <!ATTLIST noise              %integer;>
<!ELEMENT nBLayerHits       (#PCDATA)> <!ATTLIST nBLayerHits        %integer;>
<!ELEMENT nPixHits          (#PCDATA)> <!ATTLIST nPixHits           %integer;>
<!ELEMENT nSCTHits          (#PCDATA)> <!ATTLIST nSCTHits           %integer;>
<!ELEMENT nTRTHits          (#PCDATA)> <!ATTLIST nTRTHits           %integer;>
<!ELEMENT n90cells          (#PCDATA)> <!ATTLIST n90cells           %integer;>
<!ELEMENT n90const          (#PCDATA)> <!ATTLIST n90const           %integer;>
<!ELEMENT numADC            (#PCDATA)> <!ATTLIST numADC             %integer;>
<!ELEMENT numBarcodes       (#PCDATA)> <!ATTLIST numBarcodes        %integer;>
<!ELEMENT numCells          (#PCDATA)> <!ATTLIST numCells           %integer;>
<!ELEMENT numDoF            (#PCDATA)> <!ATTLIST numDoF             %integer;>
<!ELEMENT numHits           (#PCDATA)> <!ATTLIST numHits            %integer;>
<!ELEMENT numPolyline       (#PCDATA)> <!ATTLIST numPolyline        %integer;>
<!ELEMENT numTracks         (#PCDATA)> <!ATTLIST numTracks          %integer;>
<!ELEMENT numTsos           (#PCDATA)> <!ATTLIST numTsos            %integer;>
<!ELEMENT passedEF          (#PCDATA)> <!ATTLIST passedEF           %integer;>
<!ELEMENT passedL1          (#PCDATA)> <!ATTLIST passedL1           %integer;>
<!ELEMENT passedL2          (#PCDATA)> <!ATTLIST passedL2           %integer;>
<!ELEMENT passedTrigger     (#PCDATA)> <!ATTLIST passedTrigger      %integer;>
<!ELEMENT pdgId             (#PCDATA)> <!ATTLIST pdgId              %integer;>
<!ELEMENT phi               (#PCDATA)> <!ATTLIST phi                %float;>
<!ELEMENT phi0              (#PCDATA)> <!ATTLIST phi0               %float;>
<!ELEMENT phiEndVertex      (#PCDATA)> <!ATTLIST phiEndVertex       %float;>
<!ELEMENT phiModule         (#PCDATA)> <!ATTLIST phiModule          %integer;>
<!ELEMENT phiVertex         (#PCDATA)> <!ATTLIST phiVertex          %float;>
<!ELEMENT pionWeight        (#PCDATA)> <!ATTLIST pionWeight         %float;>
<!ELEMENT pmt1Energy        (#PCDATA)> <!ATTLIST pmt1Energy         %float;>
<!ELEMENT pmt2Energy        (#PCDATA)> <!ATTLIST pmt2Energy         %float;>
<!ELEMENT pmt1Chi2          (#PCDATA)> <!ATTLIST pmt1Chi2           %float;>
<!ELEMENT pmt2Chi2          (#PCDATA)> <!ATTLIST pmt2Chi2           %float;>
<!ELEMENT pmt1Time          (#PCDATA)> <!ATTLIST pmt1Time           %float;>
<!ELEMENT pmt2Time          (#PCDATA)> <!ATTLIST pmt2Time           %float;>
<!ELEMENT cellRawAmplitude  (#PCDATA)> <!ATTLIST cellRawAmplitude   %float;> 
<!ELEMENT cellRawTime       (#PCDATA)> <!ATTLIST cellRawTime        %float;>
<!ELEMENT pmt1RawTime       (#PCDATA)> <!ATTLIST pmt1RawTime        %float;>
<!ELEMENT pmt2RawTime       (#PCDATA)> <!ATTLIST pmt2RawTime        %float;>
<!ELEMENT pmt1RawAmplitude  (#PCDATA)> <!ATTLIST pmt1RawAmplitude   %float;> 
<!ELEMENT pmt2RawAmplitude  (#PCDATA)> <!ATTLIST pmt2RawAmplitude   %float;> 
<!ELEMENT pmt1Gain          (#PCDATA)> <!ATTLIST pmt1Gain           %integer;>
<!ELEMENT pmt2Gain          (#PCDATA)> <!ATTLIST pmt2Gain           %integer;>
<!ELEMENT pmt1Pedestal      (#PCDATA)> <!ATTLIST pmt1Pedestal       %float;>
<!ELEMENT pmt2Pedestal      (#PCDATA)> <!ATTLIST pmt2Pedestal       %float;>
<!ELEMENT pmt1Number        (#PCDATA)> <!ATTLIST pmt1Number         %integer;>
<!ELEMENT pmt2Number        (#PCDATA)> <!ATTLIST pmt2Number         %integer;>
<!ELEMENT pmt1ADCStatus     (#PCDATA)> <!ATTLIST pmt1ADCStatus      %integer;>
<!ELEMENT pmt2ADCStatus     (#PCDATA)> <!ATTLIST pmt2ADCStatus      %integer;>
<!ELEMENT polylineX         (#PCDATA)> <!ATTLIST polylineX          %float;>
<!ELEMENT polylineY         (#PCDATA)> <!ATTLIST polylineY          %float;>
<!ELEMENT polylineZ         (#PCDATA)> <!ATTLIST polylineZ          %float;>
<!ELEMENT preambleError     (#PCDATA)> <!ATTLIST preambleError      %integer;>
<!ELEMENT prescaleListEF    (#PCDATA)> <!ATTLIST prescaleListEF     %string;>
<!ELEMENT prescaleListL1    (#PCDATA)> <!ATTLIST prescaleListL1     %string;>
<!ELEMENT prescaleListL2    (#PCDATA)> <!ATTLIST prescaleListL2     %string;>
<!ELEMENT vertexType        (#PCDATA)> <!ATTLIST vertexType         %integer;>
<!ELEMENT primVxCand        (#PCDATA)> <!ATTLIST primVxCand         %integer;>
<!ELEMENT pt                (#PCDATA)> <!ATTLIST pt                 %float;>
<!ELEMENT px                (#PCDATA)> <!ATTLIST px                 %float;>
<!ELEMENT py                (#PCDATA)> <!ATTLIST py                 %float;>
<!ELEMENT pz                (#PCDATA)> <!ATTLIST pz                 %float;>
<!ELEMENT quality           (#PCDATA)> <!ATTLIST quality            %float;>
<!ELEMENT qualityLAr        (#PCDATA)> <!ATTLIST qualityLAr         %float;>
<!ELEMENT qualityTile       (#PCDATA)> <!ATTLIST qualityTile        %float;>
<!ELEMENT r                 (#PCDATA)> <!ATTLIST r                  %float;>
<!ELEMENT rho               (#PCDATA)> <!ATTLIST rho                %float;>
<!ELEMENT rhoEndVertex      (#PCDATA)> <!ATTLIST rhoEndVertex       %float;>
<!ELEMENT rhoVertex         (#PCDATA)> <!ATTLIST rhoVertex          %float;>
<!ELEMENT rhoz              (#PCDATA)> <!ATTLIST rhoz               %float;>
<!ELEMENT roiWord           (#PCDATA)> <!ATTLIST roiWord            %float;>
<!ELEMENT sampling          (#PCDATA)> <!ATTLIST sampling           %integer;>
<!ELEMENT secondHitError    (#PCDATA)> <!ATTLIST secondHitError     %integer;>
<!ELEMENT secVtxCount       (#PCDATA)> <!ATTLIST secVtxCount        %float;>
<!ELEMENT secVtxFitProb     (#PCDATA)> <!ATTLIST secVtxFitProb      %float;>
<!ELEMENT secVtxMass        (#PCDATA)> <!ATTLIST secVtxMass         %float;>
<!ELEMENT secVtxMult        (#PCDATA)> <!ATTLIST secVtxMult         %integer;>
<!ELEMENT secVtxRPhiDist    (#PCDATA)> <!ATTLIST secVtxRPhiDist     %float;>
<!ELEMENT secVtxTagLh       (#PCDATA)> <!ATTLIST secVtxTagLh        %float;>
<!ELEMENT secVtxTagLhErr    (#PCDATA)> <!ATTLIST secVtxTagLhErr     %float;>
<!ELEMENT sgkey             (#PCDATA)> <!ATTLIST sgkey              %string;>
<!ELEMENT side              (#PCDATA)> <!ATTLIST side               %integer;>
<!ELEMENT sigma             (#PCDATA)> <!ATTLIST sigma              %float;>
<!ELEMENT sMax              (#PCDATA)> <!ATTLIST sMax               %float;>
<!ELEMENT stripWidth        (#PCDATA)> <!ATTLIST stripWidth         %float;>
<!ELEMENT sub               (#PCDATA)> <!ATTLIST sub                %integer;>
<!ELEMENT sumEnergy         (#PCDATA)> <!ATTLIST sumEnergy          %float;>
<!ELEMENT swidth            (#PCDATA)> <!ATTLIST swidth             %float;>
<!ELEMENT syncError         (#PCDATA)> <!ATTLIST syncError          %integer;>
<!ELEMENT theta             (#PCDATA)> <!ATTLIST theta              %float;>
<!ELEMENT threshold         (#PCDATA)> <!ATTLIST threshold          %integer;>
<!ELEMENT timeOverThreshold (#PCDATA)> <!ATTLIST timeOverThreshold  %float;>
<!ELEMENT thrName           (#PCDATA)> <!ATTLIST thrName            %string;>
<!ELEMENT thrNumber         (#PCDATA)> <!ATTLIST thrNumber          %float;>
<!ELEMENT thrValue          (#PCDATA)> <!ATTLIST thrValue           %float;>
<!ELEMENT thrPattern        (#PCDATA)> <!ATTLIST thrPattern         %float;>
<!ELEMENT tileGap3f         (#PCDATA)> <!ATTLIST tileGap3f          %float;>
<!ELEMENT time              (#PCDATA)> <!ATTLIST time               %float;>
<!ELEMENT timeClusters      (#PCDATA)> <!ATTLIST timeClusters       %float;>
<!ELEMENT timeBin           (#PCDATA)> <!ATTLIST timeBin            %integer;>
<!ELEMENT trackAuthor       (#PCDATA)> <!ATTLIST trackAuthor        %integer;>
<!ELEMENT trackid           (#PCDATA)> <!ATTLIST trackid            %integer;>
<!ELEMENT trackIndex        (#PCDATA)> <!ATTLIST trackIndex         %integer;>
<!ELEMENT trackKey          (#PCDATA)> <!ATTLIST trackKey           %string;>
<!ELEMENT trackLinkCount    (#PCDATA)> <!ATTLIST trackLinkCount     %integer;>
<!ELEMENT tracks            (#PCDATA)> <!ATTLIST tracks             %integer;>
<!ELEMENT trigInfoEF        (#PCDATA)> <!ATTLIST trigInfoEF         %string;>
<!ELEMENT trigInfoExtL1ID   (#PCDATA)> <!ATTLIST trigInfoExtL1ID    %string;>
<!ELEMENT trigInfoL1        (#PCDATA)> <!ATTLIST trigInfoL1         %string;>
<!ELEMENT trigInfoL2        (#PCDATA)> <!ATTLIST trigInfoL2         %string;>
<!ELEMENT trigInfoLvl1Type  (#PCDATA)> <!ATTLIST trigInfoLvl1Type   %string;>
<!ELEMENT trigInfoStatus    (#PCDATA)> <!ATTLIST trigInfoStatus     %string;>
<!ELEMENT trigInfoStreamTag (#PCDATA)> <!ATTLIST trigInfoStreamTag  %string;>
<!ELEMENT tsosDetType       (#PCDATA)> <!ATTLIST tsosDetType        %string;>
<!ELEMENT tsosPosR          (#PCDATA)> <!ATTLIST tsosPosR           %float;>
<!ELEMENT tsosPullLoc1      (#PCDATA)> <!ATTLIST tsosPullLoc1       %float;>
<!ELEMENT tsosPullLoc2      (#PCDATA)> <!ATTLIST tsosPullLoc2       %float;>
<!ELEMENT tsosResLoc1       (#PCDATA)> <!ATTLIST tsosResLoc1        %float;>
<!ELEMENT tsosResLoc2       (#PCDATA)> <!ATTLIST tsosResLoc2        %float;>
<!ELEMENT type              (#PCDATA)> <!ATTLIST type               %integer;>
<!ELEMENT typeEV            (#PCDATA)> <!ATTLIST typeEV             %string;>
<!ELEMENT weight            (#PCDATA)> <!ATTLIST weight             %float;>
<!ELEMENT width             (#PCDATA)> <!ATTLIST width              %float;>
<!ELEMENT widthside         (#PCDATA)> <!ATTLIST widthside          %float;>
<!ELEMENT widthx	    (#PCDATA)> <!ATTLIST widthx		    %float;>
<!ELEMENT widthy            (#PCDATA)> <!ATTLIST widthy             %float;>
<!ELEMENT x                 (#PCDATA)> <!ATTLIST x                  %float;>
<!ELEMENT x0                (#PCDATA)> <!ATTLIST x0                 %float;>
<!ELEMENT x1                (#PCDATA)> <!ATTLIST x1                 %float;>
<!ELEMENT y                 (#PCDATA)> <!ATTLIST y                  %float;>
<!ELEMENT y0                (#PCDATA)> <!ATTLIST y0                 %float;>
<!ELEMENT y1                (#PCDATA)> <!ATTLIST y1                 %float;>
<!ELEMENT z                 (#PCDATA)> <!ATTLIST z                  %float;>
<!ELEMENT z0                (#PCDATA)> <!ATTLIST z0                 %float;>
<!ELEMENT z1                (#PCDATA)> <!ATTLIST z1                 %float;>
<!ELEMENT zEndVertex        (#PCDATA)> <!ATTLIST zEndVertex         %float;>
<!ELEMENT zVertex           (#PCDATA)> <!ATTLIST zVertex            %float;>
